@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Inter, sans-serif;

}

body {
    background-color: 	#c2b3c2;

}
.imgs{
    width: 40vw;
    margin: 0 auto;
    
}
#img1{
    margin-top: 5%;
    width: 100%;
    border-radius: 6%;

}
.topo{
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 2%;
}
.cabeçalho-link{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 300;
    cursor: pointer;
    justify-content: space-evenly;
    align-items: left;
    font-family: Arial, monospace, sans-serif;
    width: 50vw;
    margin: 5% auto;
    margin-top: 2%;
    
}
.container{
    justify-content: space-between;
}
.site1{
    color:  #ffffff;
    transition: 0.3s all;
}
.check{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 1rem;
    color: #000000;

}


.site1{
    color: #f3f3f4;
}

.div_dados {
    
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;

}

.div_form {
    
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0.5rem 0.5rem 0;
}

.div_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 220px;
    padding: 4px;
    margin-bottom: 1rem;
}

.input {
    
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    background-color: #f3f3f4;
    color: #0d0c22;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: .3s ease;

}

.input:hover,button:hover {
    border-color: #000000;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 5%);
}

button {
    
    border: 2px solid transparent;
    width: 220px;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    

}
.link1 a{
    color: #f08000;
    font-family:Arial, monospace, sans-serif;
    font-size: 20px;

}
#txt{
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: Arial, monospace, sans-serif;
    
}

.text{
    font-family: Arial, monospace, sans-serif;
    font-size: 20px;
}

